doctype html

html
  head
    title jray
    //- so lazy
    link(rel="stylesheet",href="style.css")
    script(src="vendor/esprima.js")
    script(src="vendor/escodegen.browser.js")
    script(src="vendor/instrumenter.js")
    script(src="vendor/angular.min.js")
    script(src="all.min.js")

  body(ng-app="jray",ng-controller="MainCtrl")
    header
      h1 jray
      h2 watch your code running in real time

    //- a(ng-click="doSomething()") Do some pointless work!

    .thumbnails
      .thumbnail(ng-repeat="inspector in inspectors",ng-click="focusOnScript($index)",ng-class="{current: $index == currentScriptIndex}")
        .script-name {{inspector.scriptName}}
        pre(ng-repeat="line in inspector.fnLines track by $index",ng-style="lineStyle(inspector,$index)") {{line}}&nbsp;

    .inspector
      pre(ng-repeat="line in inspectors[ currentScriptIndex ].fnLines track by $index",ng-style="lineStyle(inspectors[ currentScriptIndex ],$index)") {{line}}&nbsp;