.jray(ng-controller="MainCtrl")


  .panel(ng-class="{expanded: expanded}")

    .handle: .inner(ng-click="toggleExpanded()") jray

    .thumbnails
      .inspector(ng-repeat="inspector in inspectors",ng-click="focusOnScript($index)",ng-class="{current: $index == currentScriptIndex}")
        .script-name {{inspector.scriptName}}
        pre(ng-repeat="line in inspector.fnLines track by $index",ng-style="lineStyle(inspector,$index)") {{line}}&nbsp;

    .inspector.large
      .script-name {{inspectors[ currentScriptIndex ].scriptName}}
      pre(ng-repeat="line in inspectors[ currentScriptIndex ].fnLines track by $index",ng-style="lineStyle(inspectors[ currentScriptIndex ],$index)") {{line}}&nbsp;
