html
  head
    title fmjs
    //- so lazy
    script(src="vendor/esprima.js")
    script(src="vendor/escodegen.browser.js")
    script(src="vendor/instrumenter.js")
    script(src="build/all.min.js")
  body
    h1 hi