doctype html

html
  head
    title fmjs
    //- so lazy
    link(rel="stylesheet",href="build/style.css")
    script(src="vendor/esprima.js")
    script(src="vendor/escodegen.browser.js")
    script(src="vendor/instrumenter.js")
    script(src="vendor/angular.min.js")
    script(src="build/all.min.js")

  body(ng-app="jray",ng-controller="MainCtrl")
    //- h1 jray

    .thumbnails
      .thumbnail(ng-repeat="inspector in inspectors",ng-click="focusOnScript($index)",ng-class="{current: $index == currentScriptIndex}")
        .script-name {{inspector.scriptName}}
        pre(ng-repeat="line in inspector.fnLines track by $index",ng-style="lineStyle(inspector,$index)") {{line}}

    .inspector
      pre(ng-repeat="line in inspectors[ currentScriptIndex ].fnLines track by $index",ng-style="lineStyle(inspectors[ currentScriptIndex ],$index)") {{line}}