.jray
  position fixed
  color black
  background #e4e2e0
  font-family 'Open Sans', sans-serif
  top 0
  right 0
  bottom 0
  width 400px
  box-shadow 0 0 20px rgba(0,0,0,0.2)
  border-left 2px solid #ccc

  *
    margin 0
    padding 0

  ul
    list-style none

  pre
    background #2a2a2a
    white-space pre-wrap

  header
    margin 10px
    h2
      font-weight normal
      font-size inherit


  .inspector
    background white
    padding 5px
    margin 10px

  a
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

  .thumbnails

    .script-name
      margin-bottom 5px
      font-size 12px

    pre
      font-size 3px

    .thumbnail
      margin 10px 0 0 10px
      background white
      cursor pointer
      padding 5px
      vertical-align top
      width 50px
      display inline-block

      &.current
        border-color white
