.jray
  position fixed
  color black
  font-family sans-serif
  top 0
  right 0
  bottom 0

  *
    margin 0
    padding 0

  ul
    list-style none

  pre
    background #2a2a2a
    white-space pre-wrap
    overflow hidden

  header
    margin 10px
    h2
      font-weight normal
      font-size inherit

  .handle
    font-size 12px
    position absolute
    z-index -10
    line-height 1
    color: #aaa;
    .inner
      position absolute
      right 0
      top 5px
      background #f4f2f0
      padding 7px 8px 7px 10px
      border-radius 5px 0 0 5px
      border-style solid
      border-color #e4e2e0
      border-width 1px 0 1px 4px
      cursor pointer

      &:hover
        color black
        

  .panel
    background #f4f2f0
    border-left 4px solid #e4e2e0
    z-index 1
    position absolute
    height 100%
    width 500px

    left -10px
    transition 0.2s ease-in-out left
    &.expanded
      left -500px

  .inspector
    box-shadow 0 0 10px rgba(0,0,0,0.05)
    background white
    padding 5px
    margin 10px

    .script-name
      margin-bottom 5px
      font-size 12px
      overflow hidden
      text-overflow ellipsis
      color #888

    &.large .script-name
      background #f7f7f7
      margin -5px -5px 5px
      padding 5px
      color black

  a
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

  .thumbnails

    pre
      font-size 3px

    .inspector
      border-top 5px solid #f7f7f7
      margin 10px 0 0 10px
      cursor pointer
      vertical-align top
      width 50px
      display inline-block

      &.current, &:hover
        border-top 5px solid #3399ff