*
  margin 0
  padding 0

body
  color white
  background black
  font-family 'Open Sans', sans-serif
  margin 30px

ul
  list-style none

pre
  background #2a2a2a
  // transition background linear 0.1s
  // &:nth-child(2n)
  //   background #282828

h1
  margin 10px

.thumbnails
  margin 10px 0
  background black

  .script-name
    margin-bottom 5px
    font-size 12px
  pre
    font-size 3px
    white-space pre-wrap

  .thumbnail
    border-left #035 2px solid
    padding 5px
    margin 10px
    vertical-align top
    width 100px
    display inline-block
