*
  margin 0
  padding 0

body
  color white
  background #252525
  font-family 'Open Sans', sans-serif
  margin 30px

pre
  background #2a2a2a
  // transition background linear 0.1s

.thumbnails
  font-size 3px
  width 100px
  
  &:nth-child(2n)
    background #282828
