*
  margin 0
  padding 0

body
  color white
  background black
  font-family 'Open Sans', sans-serif
  margin 30px

ul
  list-style none

pre
  background #2a2a2a
  // transition background linear 0.1s
  // &:nth-child(2n)
  //   background #282828

h1
  margin 10px

.inspector
  border-left #035 2px solid
  border-top #035 8px solid
  padding 10px
  

.thumbnails
  margin 10px 0

  .script-name
    margin-bottom 5px
    font-size 12px

  pre
    font-size 3px
    white-space pre-wrap

  .thumbnail

    &.current
      border-color white

    cursor pointer
    border-left #035 2px solid
    border-top #035 8px solid
    padding 5px
    margin 10px 10px 10px 0
    vertical-align top
    width 100px
    display inline-block
