* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto Light", sans-serif;
  margin: 40px;
  color: #444;
}

h1 {
  color: #888;
  font-weight: 200;
  font-size: 80px;
}

h2 {
  color: #ccc;
  font-weight: 200;
}

h1, h2, p {
  margin: 30px 0;
}

p {
  max-width: 400px;
}

a {
  color: #3592ff;
}

#prime {
  display: block;
  color: black;
  width: 250px;
  border: 1px solid #eee;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  line-height: 1;
}

#prime input {
  vertical-align: top;
  margin-right: 5px;
}

#prime p {
  margin: 10px;
}

#prime a, #prime label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#prime a {
  text-decoration: underline;
}

#prime span {
  font-weight: bold;
}