* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto Light", sans-serif;
  margin: 40px;
  color: #444;
}

h1 {
  color: #888;
  font-weight: 200;
}

h2 {
  color: #ccc;
  font-weight: 200;
}

h1, h2, p {
  margin: 30px 0;
}

p {
  max-width: 400px;
}

#prime {
  display: block;
  color: black;
  width: 200px;
  border: 1px solid #eee;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
}

#prime span {
  font-weight: bold;
}